*.DS_Store
.git/
dist/composer.json
dist/license.txt
dist/readme.html
dist/wp-content/themes/twentyfifteen
dist/wp-content/themes/twentyseventeen
dist/wp-content/themes/twentysixteen
node_modules/
*npm-debug.log
