$colours: (
  almost-black: #222,
  turquoise: #00ac92
);

// Link colors to meaningful variables
$brand-color: map-get($colours, turquoise);

// an array of our themes
$themes: (
  x: #e63312,
  y: #eb5f0a,
  z: #187d4f
);

$spacing: 5%; // will create a spacing matrix shortly
