version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers
      
    working_directory: ~/myapp

    steps:
      - checkout

      - run: sudo composer self-update

      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.json" }}
            - composer-v1-

      - run: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: composer-v1-{{ checksum "composer.json" }}