.c-something {
    height: 100%;
    background: $brand-color;
    color: #fff;
    padding: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @include themify(background);
}
