.s-biggie {

    position: relative;

    &__container {
        @include container();
        position: relative;
    }

    &__row {
        @include make-row();
    }

    &__column {
        @include make-sm-column(8);
        @include make-sm-column-push(2);

        // padding in percent as it changes upon the width of the containing element, so scales nicely :)
        padding-top: 15%;
        padding-bottom: 15%;

        // color would be better off in schemes, for now i will leave here
        color: #fff;
    }
}
