.s-image-text {
  $self: &;

  position: relative;

  &__container {
    @include container();

    &--fw {
      @include bp(sm) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__image {
    width: 60%;
    position: absolute;
    height: 100%;
  }

  & + & {
    margin-top: $spacing;

    @include bp(sm) {
      margin-top: 0;
    }
  }
}
